#aboutus{
    margin-top: 30px;
}

#mission{
    margin-top: 30px;
}

@media (max-width: 767px) {
    #title_vision {
        margin-top: 20px;
    }

}
.title{
    color: #07a7db;
}
#about1:hover .image1 {
    opacity: 0.2;
}

#about2:hover .image2 {
    opacity: 0.2;
}